<template name="comments">
  <ul id="comments-list" class="side-nav">
    <li class="comment-list-title">
      <h5>Documento de <span class="comment-list-document-author">{{person.name}}</span></h5>
    </li>
    <li>
      <ul class="collapsible collapsible-accordion">
        <li>
          <div class="collapsible-header waves-effect "><i class="material-icons">forum</i> Novo comentário</div>
          <div class="collapsible-body">

            <form method="POST" action="#" id="new-comment-form">
              <div class="input-field">
                <input id="new-comment-author" name="new-comment-author" type="text" class="validate" value="{{userName}}" disabled={{userDetailsDisabled}} maxlength="100" required>
                <label for="new-comment-author" class="{{#if userDetailsDisabled}}active{{/if}}">Seu nome</label>
              </div>
              <div class="input-field">
                <textarea id="new-comment-text" name="new-comment-text" class="materialize-textarea validate" length="120" maxlength="150" required></textarea>
                <label for="new-comment-text">Comentário</label>
              </div>
              <button id="new-comment-submit" type="submit" class="waves-effect waves-light btn"><i class="material-icons right">comment</i> Enviar </button>
            </form>
          </div>
        </li>
      </ul>
    </li>
    {{#each comments}}
      {{> comment}}
    {{/each}}
    <a href="#" data-activates="comments-list" class="button-collapse"></a>
  </ul>
</template>

<template name="comment">
  <li class="comment">
    <div class="comment-avatar tooltipped" data-tooltip="{{author}}">
      {{#if userId}}
        {{> avatar userId=userId}}
      {{else}}
        {{initials author}}
      {{/if}}
    </div>
    <!-- <div class="comment-avatar"><abbr title="{{author}}">{{initials author}}</abbr></div> -->
    <div class="comment-bubble">
      <div class="comment-text">{{text}}</div>
      <div class="comment-date"><time datetime="{{datetime}}" class="tooltipped" data-tooltip="{{humanTime datetime}}" data-position="top">{{humanTimeAgo datetime}}</time></div>
    </div>
  </li>
</template>
