<template name="comments">
  <ul id="comments-list" class="side-nav">
    <li class="comment-list-title">
      <h5>Documento de <span class="comment-list-document-author">{{person.name}}</span></h5>
    </li>
    {{#each comments}}
      {{> comment}}
    {{/each}}
    <li class="new-comment">
      <form method="POST" action="#" id="new-comment-form">
        <div class="input-field">
          <input id="new-comment-author" name="new-comment-author" type="text" class="validate" required>
          <label for="new-comment-author">Seu nome</label>
        </div>
        <div class="input-field">
          <textarea id="new-comment-text" name="new-comment-text" class="materialize-textarea validate" required></textarea>
          <label for="new-comment-text">Comentário</label>
        </div>
        <button id="new-comment-submit" type="submit" class="waves-effect waves-light btn brown"><i class="mdi-communication-message right"></i>Enviar</button>
      </form>
    </li>
  </ul>
</template>

<template name="comment">
  <li class="comment">
    <div class="comment-avatar"><abbr title="{{author}}">{{initials author}}</abbr></div>
    <div class="comment-bubble">
      <div class="comment-text">{{text}}</div>
      <div class="comment-date"><time datetime="{{datetime}}">{{humanTime datetime}}</time></div>
    </div>
  </li>
</template>
