<template name="documentList">
  {{> comments activeDocument}}

  <div id="documents-container">
    <aside id="filters-container">
      <div class="filters-heading">
        <i class="material-icons">play_arrow</i>
      </div>
      <form>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <select id="filters-semester" class="filters" data-filter-type="semester" multiple>
              <option value="" disabled>Semestres</option>
              {{#each semestersAvailable}}
                <option value="{{this}}" selected="{{filterChecked 'semester' this}}">{{this}}</option>
              {{/each}}
            </select>
            <label>Quando cursou CG:</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <select id="filters-os" class="filters" data-filter-type="os" multiple>
              <option value="" disabled>Sistemas</option>
              <option value="Windows" selected="{{filterChecked 'os' 'Windows'}}">Windows</option>
              <option value="Linux" selected="{{filterChecked 'os' 'Linux'}}">Linux</option>
              <option value="OSX" selected="{{filterChecked 'os' 'OSX'}}">OSX</option>
            </select>
            <label>Sistema Operacional:</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select id="filters-env" class="filters" data-filter-type="env" multiple>
              <option value="" disabled>Selecione os ambientes</option>
              <option value="CodeBlocks" selected="{{filterChecked 'env' 'CodeBlocks'}}">CodeBlocks</option>
              <option value="Visual Studio" selected="{{filterChecked 'env' 'Visual Studio'}}">Visual Studio</option>
              <option value="DevC++" selected="{{filterChecked 'env' 'DevC++'}}">DevC++</option>
              <option value="XCode" selected="{{filterChecked 'env' 'XCode'}}">XCode</option>
              <option value="Linha de comando" selected="{{filterChecked 'env' 'Linha de comando'}}">Linha de comando</option>
            </select>
            <label>Ambientes de desenvolvimento:</label>
          </div>
        </div>
      </form>
    </aside>

    {{#each documents}}
      {{> document}}
    {{/each}}
  </div>
</template>
