<template name="document">
  <article class="document {{#if active}}active{{/if}} {{#if filteredOut}}filtered-out{{/if}}">
    <header class="document-header">
      <div class="document-avatar btn-floating">
        {{#if person.userId}}
          {{> avatar userId=person.userId customImageClass="document-avatar-image"}}
        {{else}}
          {{initials person.name}}
        {{/if}}
      </div>
    </header>
    <section class="document-details">
      <h2 class="person-name">{{person.name}}</h2>
      <span class="chip">{{person.date}}</span>
      {{#each os}}
        <span class="chip">{{this}}</span>
      {{/each}}
      {{#each env}}
        <span class="chip">{{this}}</span>
      {{/each}}
      <dl class="document-stats">

        <!-- Download or URL button -->
        {{#if file}}
          <dt class="download-link">
            <a href="/dl/{{person.date}}/{{file}}">
              <i class="material-icons tiny">file_download</i>
            </a>
          </dt>
          <dd class="download-link"><a href="/dl/{{person.date}}//{{file}}">{{downloads}}</a></dd>
        {{/if}}
        {{#if content}}
          <dt class="download-link">
            <a href="{{content}}" target="_blank">
              <i class="material-icons tiny">video_library</i>
            </a>
          </dt>
          <dd class="download-link"><a href="{{content}}" target="_blank">{{downloads}}</a></dd>
        {{/if}}

        <!-- Like button -->
        <dt class="like-link">
          <i class="material-icons tiny">favorite_outline</i>
        </dt>
        <dd class="like-link">{{likes}}</dd>

        <!-- Comment button -->
        <dt class="comment-link">
          <div>
            <i class="material-icons tiny">comment</i>
          </div>
        </dt>
        <dd class="comment-link" data-activates="comments-list">
          <div>{{comments.length}}</div>
        </dd>
      </dl>
    </section>
  </article>
</template>
