#documents-container {
  position: relative;
  height: 100%;
  background-color: silver;
}

$filters-container-width: 26em;

#filters-container {
  position: absolute;
  right: -$filters-container-width + 1em;
  top: 5em;
  width: $filters-container-width;
  opacity: 0.65;
  z-index: 101;
  padding: 1em 0.7em 0em 0.7em;
  background-color: white;
  transition: all 200ms ease-out;

  &.active {
    right: 1em;
    opacity: 1;
  }

  &:not(.active) {
    cursor: pointer;
  }

  &:not(.active):hover {
    right: -$filters-container-width + 2em;
  }

  @media only screen and (max-width: 410px) {
    width: 90%;
    right: -87%;

    &.active {
      right: 0;
    }

    &:not(.active):hover {
      right: -85%;
    }
  }
}

.filters-heading {
  position: absolute;
  top: 50%;
  left: -1em;
  margin-top: -0.5em;
  color: white;
  cursor: pointer;
  transition: transform 150ms ease-out;

  & > .material-icons {
    transform: rotate(180deg);
  }

  #filters-container.active &:hover {
    transform: scale(1.5);
  }
}
