$profile-image-width: 40px;


#main {
  height: 100%;
}

#main-header {
  position: relative;
  z-index: 998; /* because of materialize side-nav overlay, which is 997 */
}

.profile-image,
.profile-initials {
  max-height: $profile-image-width;
  max-width: $profile-image-width;
  vertical-align: middle;
  border: 1px solid rgba(255,255,255,.1);
  padding: 0px;
  box-sizing: content-box;
  mix-blend-mode: screen;

  top: 50%;
  left: 50%;
  margin-top: -$profile-image-width/2;
  margin-left: -$profile-image-width/2;
}

.profile-image.round {
  // display: inline-block;
  border-radius: 0.5rem;
}

// On the "login/logout" line of the mobile menu...
.mobile-login-item {
  display: flex;
  justify-content: space-between;

  .profile-image {
    mix-blend-mode: initial;
  }

  .mobile-login-button-container {
    flex-grow: 1;
  }

  #at-nav-button {
    line-height: 3rem;
    height: 3rem;
    margin: 0;
  }
}

.profile-initials {
  text-align: center;
  line-height: $profile-image-width;
  border-radius: 50%;
  color: black;
}

#logo-svg {
  max-width: 86%;
  height: auto;
  @media only screen and (max-width: 600px) {
    max-width: 70%
  }
  @media only screen and (max-width: 510px) {
    max-width: 86%
  }
}

#logo-thin {
  max-height: 100%;
}

.svg-container {
  position: relative;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#main-header .button-collapse {
  left: 2%;
}

#main-header .nav-wrapper > .svg-container {
  @media only screen and (max-width: 998px) {
    position: absolute;
    left: 10%;
  }
  @media only screen and (max-width: 510px) {
    left: 13%;
  }
  @media only screen and (max-width: 420px) {
    left: 15%;
    top: 50%;
    margin-top: -1.5em;
  }
  @media only screen and (max-width: 360px) {
    left: 18%;
    top: 50%;
    margin-top: -1.25em;
  }
}
