$fade-in-duration: 200ms;

.invisible {
  visibility: hidden;
  pointer-events: none;

  &.fade-up {
    transform: translate3d(0, 0.5em, 0);
    opacity: 0 !important;
    transition-delay: 0ms;
  }
}

.fade-up {
  transition: transform $fade-in-duration ease-out, opacity $fade-in-duration ease-out, visibility 0ms ease-out $fade-in-duration;

  opacity: 1;
  transform: none;
  visibility: visible;
}
