// from materialize src
@import 'color';

// global mixins, classes
@import 'global';

// css components
@import 'definition-list';

// fonts
@import 'material-icons';

// templates
@import 'document-list';
@import 'document';
@import 'comments';

// general page configuration
html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

#main {
  height: 100%;
}
